{% extends 'layout.html' %}

{% block inside_head %}
<title>LaserBot Battle | About</title>

{% endblock %}

{% block body %}

<body class="login-page">


  <div class="wrapper" style="width=0.8*device-width">

    <!-- Content Header (Page header) -->
    <div class="login-logo">
      <br/>
      <a><b>LaserBot</b> Battle</a>
    </div><!-- /.login-logo -->


    <!-- Main content -->
    <section class="content">

      <!-- row -->
      <div class="row">
        <div class="col-md-12">


        </ul>
      </div><!-- /.col -->
    </div><!-- /.row -->



  </section><!-- /.content -->




</div><!-- ./wrapper -->



</body>

{% endblock %}